################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/CoditechLicenseApplication/.vs/CoditechLicenseApplication
/CoditechLicenseApplication/bin
/CoditechLicenseApplication/obj
/CoditechLicenseApplication.BusinessLogicLayer/bin
/CoditechLicenseApplication.BusinessLogicLayer/obj
/CoditechLicenseApplication.DataAccessLayer/bin
/CoditechLicenseApplication.DataAccessLayer/obj
/CoditechLicenseApplication.Model/bin
/CoditechLicenseApplication.Model/obj
/CoditechLicenseApplication.Utilities/bin
/CoditechLicenseApplication.Utilities/obj
/CoditechLicenseApplication.ExceptionManager/bin
/CoditechLicenseApplication.ExceptionManager/obj
/CoditechLicenseApplication.ViewModel/bin
/CoditechLicenseApplication.ViewModel/obj
/CoditechLicenseApplication.Utilities/CoditechLicenseApplication.Utilities.csproj.user
/CoditechLicenseApplication/data/logs
/CoditechLicenseApplication.Resources/bin
/CoditechLicenseApplication.Resources/obj
/CoditechLicenseApplication.ViewModel/CoditechLicenseApplication.ViewModel.csproj.user
/CoditechLicenseApplication.BusinessLogicLayer/CoditechLicenseApplication.BusinessLogicLayer.csproj.user
/CoditechLicenseApplication/.vs
/CoditechLicenseApplication.Resources/bin/Debug
/CoditechLicenseApplication.Resources/obj
/CoditechLicenseApplication.BusinessLogicLayer/.vs
/CoditechLicenseApplication.DataAccessLayer/.vs/CoditechLicenseApplication.DataAccessLayer.csproj.dtbcache.json
/CoditechLicenseApplication.ExceptionManager/.vs/CoditechLicenseApplication.ExceptionManager.csproj.dtbcache.json
/CoditechLicenseApplication.Resources/.vs/CoditechLicenseApplication.Resources.csproj.dtbcache.json
/CoditechLicenseApplication.Utilities/.vs/CoditechLicenseApplication.Utilities.csproj.dtbcache.json
/CoditechLicenseApplication.ViewModel/.vs/CoditechLicenseApplication.ViewModel.csproj.dtbcache.json
